* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    text-align: justify;
    font-family: sans-serif;
}
h1 {
    color: red;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
#header {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18pt;
    font-family: sans-serif;
}
#footer {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18pt;
    font-family: sans-serif;
}
#first {
    color: blue;
    width: 700px;
    margin: auto;
}
#second {
    color: red;
    width: 500px;
    margin: auto;
}
#third {
    color: aqua;
    width: 700px;
    margin: auto;
}
#fourth {
    color: brown;
    width: 500px;
    margin: auto;
}
#fifth {
    color: peru;
    width: 700px;
    margin: auto;
}
