body {
    text-align: justify;
    font-family: sans-serif;
}
h1 {
    color: red;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
#header {
    text-align: center;
    font-weight: bold;
    font-size: 18pt;
    font-family: sans-serif;
}
#footer {
    text-align: center;
    font-weight: bold;
    font-size: 18pt;
    font-family: sans-serif;
}
#first {
    color: blue;
}
#second {
    color: red;
}
#third {
    color: aqua;
}
#fourth {
    color: brown;
}
#fifth {
    color: peru;
}
